@charset "utf-8";
/*css.document*/
img{width: 100%;}
a{text-decoration: none;}
a:hover{text-decoration: none;}
a:enabled{text-decoration: none;}
.bg{
	width: 100%;
	background: #333333;
	position: fixed;
	z-index: 10000;
}
.container{
	padding: 0;
}
li{cursor: pointer;}
.container,.container1,.container2{
	max-width:1000px;
	margin: 0 auto;
	min-width: 320px;
}
.bx-wrapper{padding-top: 80px;}
.container header .logo{
	width: 17.1%;
	padding-top: 10px;
	margin-right:9.6% ;
}
.container header nav{
	width: 73.3%;
}
.container header nav ul{
	margin-bottom: 0;
}
.container header nav ul li{
	float: left;
	line-height: 80px;
	width:12.5%;
	text-align: center;
}
.container header nav ul li:hover{
	background: #5c5c5c;
}
.container header nav ul li:nth-of-type(1){
	background: #5c5c5c;
}
.container header nav ul li a{display: block; background: transparent; height: 100%; width: 100%;}
.container header nav ul li a{
    font-size: 14px;
    color: #FFFFFF;
}
header .caidan{
		display: block;
		float:right;
		margin-right: 10%;
		height: 34px;
		line-height: 34px;
		padding-top:6px;
	}
.caidan .xiala{
		height:24px;
		width: 30px;
		background: url(../img/pic8.jpg) no-repeat center center;
	}
 .nav{
		min-width: 0px;
		background: #000000;
	}
 .nav li{
	float: left;
	width: 25%;
	line-height:30px;
	text-align: center;
}
 .nav li:hover{
 	background: #FFFFFF;
 }
 .nav li:hover a{
 	color: #000000;
 }
  .nav li a{
	        font-size: 0.87em;
	        color: #FFFFFF;
	}
.container1 h1{font-family: "微软雅黑"; font-weight:100; font-size: 35px; height: 110px; line-height: 110px; color: #333; margin: 0;}
.fuwu ul li{position: relative; float: left; width: 25%; text-indent:42%; padding-top: 7px; transition: 0.4s; }
.fuwu ul li h2{ height: 45px; line-height:30px; font-size: 18px; color: #222; font-family: "微软雅黑"; margin-bottom: 0; }
.fuwu ul li p{ height: 18px; line-height:0px; font-size: 14px; color: #999;}
.fuwu ul li{ background: url(../img/service_1_1.jpg) no-repeat 30px center;}
.fuwu ul li:hover{ background: url(../img/service_1_2.jpg) no-repeat 30px center;}
.fuwu ul li:nth-of-type(2){ background: url(../img/service_2_1.jpg) no-repeat 30px center;}
.fuwu ul li:nth-of-type(2):hover{ background: url(../img/service_2_2.jpg) no-repeat 30px center;}
.fuwu ul li:nth-of-type(3){ background: url(../img/service_3_1.jpg) no-repeat 30px center;}
.fuwu ul li:nth-of-type(3):hover{ background: url(../img/service_3_2.jpg) no-repeat 30px center;}
.fuwu ul li:nth-of-type(4){ background: url(../img/service_4_1.jpg) no-repeat 30px center;}
.fuwu ul li:nth-of-type(4):hover{ background: url(../img/service_4_2.jpg) no-repeat 30px center;}
.fuwu ul li:before{ content: ''; display: block; width:100%; height: 100%; position: absolute; bottom:-4px; left: 10%; transition: 0.3s;}
.fuwu ul li:hover:before{ width:90%; border-bottom: 3px solid #f99533;}
.kecheng .jihua{padding-left:15px; padding-right:15px; margin-bottom: 0;}
.kecheng .jihua li{ overflow: hidden; float: left; position: relative; transition: all 0.3s linear 0.1s;}
.kecheng .jihua li .hox{text-align: left; 
				line-height: 20px; 
				font-family: "微软雅黑"; 
				font-size: 16px; 
				color: #fff; opacity: 0; padding-left: 20px;padding-right: 20px;  position: absolute; bottom: 0; left: 0;  background:#90c166; height: 100%; transition: all 0.3s linear 0.1s;}
.kecheng .jihua li .hox h2{ display: block; font-size: 24px; height: 30px; line-height: 30px; font-family: "微软雅黑"; }
.kecheng .jihua li .hox p{font-size: 14px;}
.kecheng .jihua li:hover .hox{opacity: 1; }
				
.kecheng .jihua li .xo{background:#fa9634;}
.school h1 span{display: block; float: right; font-size: 18px; color:#FA9634; font-family: "microsoft yahei"; font-weight: bold; padding-right: 12px;}
.school ul li{padding-right:25px; padding-left:25px;}
.school ul li:hover h2{color:#fa9634;}
.school h2{height:32px; line-height: 32px; font-size: 18px; margin-top: 17px;margin-bottom: 0; color: #222222;}
.school  p{line-height: 26px; font-size: 14px; color: #898d8e;white-space:nowrap; text-overflow:ellipsis; -o-text-overflow:ellipsis; overflow: hidden;  }
.zuopin ul li{ float: left; position: relative; overflow: hidden; padding: 0;}
.zuopin ul li .jieshao{ width: 100%; position: absolute; bottom: 0px; left: 0px;height: 100%; background: rgba(250, 150, 52,0.9);  color: #fff; padding-top: 15%; opacity: 0;  transition:.3s;}
.zuopin ul li .jieshao h5{text-align: center; font-family: "微软雅黑"; font-weight: bold; font-size: 20px; height: 24px; line-height: 24px; }
.zuopin ul li .jieshao span{text-align: center; display: block; font-family: "微软雅黑";font-size: 16px; height: 24px; line-height: 24px;}
.zuopin ul li .jieshao p{ text-align: center; margin-top:10px; font-size: 16px; font-family:"microsoft yahei" ;}
.zuopin ul li:hover .jieshao{opacity: 1;}
.mingxing ul{margin: 0;}
.mingxing ul li{ float: left; transition: 0.6s; position: relative; overflow: hidden; }
.mingxing ul li p{ text-align: center; line-height: 30px; font-family: "微软雅黑"; font-size: 18px; color: #fff; padding-top: 50px; opacity: 0; position: absolute; top: 0px; left: 4px; width:242px; background:#90c166; height:198px; transition: .3s;}
.mingxing ul li:hover p{ opacity:0.9;}
.jiuye ul{padding-right: 10px; padding-left: 10px;}
.jiuye ul li{padding-left: 10px; padding-right: 10px; margin-bottom: 20px;}
.zixun{width: 100%; background: #333333;}
.container2{padding-right: 20px; padding-left: 20px;}
.small ul{padding-top: 46px;padding-bottom: 52px; padding-left: 15px; padding-right: 15px;}
.small ul li{color: #FFFFFF; padding: 0; line-height: 26px; font-size: 14px;}
.small ul li p{width:30%; float: left; padding-bottom: 0; float: left; text-align: right;}
.small ul li span{float: left; width: 70%;}
@media screen and (min-width:1200px) {
.zuopin ul li{width: 20%;}
.school ul li{margin-top: 40px;}
.school ul li:nth-of-type(1),.school ul li:nth-of-type(2),.school ul li:nth-of-type(3){margin-top: 0;}	
.mingxing ul li{padding-left: 4px; padding-right: 4px; padding-bottom: 8px;}
.kecheng .jihua li{border-top: 1px solid #CCCCCC; border-right: 1px solid #CCCCCC;}
.kecheng .jihua li:nth-of-type(1),.kecheng .jihua li:nth-of-type(4),.kecheng .jihua li:nth-of-type(7){border-left: 1px solid #CCCCCC;}
.kecheng .jihua li:nth-of-type(7),.kecheng .jihua li:nth-of-type(8),.kecheng .jihua li:nth-of-type(9){border-bottom: 1px solid #CCCCCC;}
.bx-wrapper .bx-pager.bx-default-pager a{width: 40px; height: 8px;}
.bx-wrapper .bx-pager{left: 37%;}
}
@media only screen and (min-width: 992px) and (max-width:1200px) {
.container1 h1{font-family: "微软雅黑"; font-weight:100; font-size: 30px; height: 100px; line-height: 100px; color: #333;}
.zuopin ul li{width: 20%;}
.fuwu ul li p{display: none;}
.fuwu ul li{ background: url(../img/service_1_1.jpg) no-repeat 30px center; background-size:21%;}
.fuwu ul li:hover{ background: url(../img/service_1_2.jpg) no-repeat 30px center; background-size:21%;}
.fuwu ul li:nth-of-type(2){ background: url(../img/service_2_1.jpg) no-repeat 30px center; background-size:21%;}
.fuwu ul li:nth-of-type(2):hover{ background: url(../img/service_2_2.jpg) no-repeat 30px center; background-size:21%;}
.fuwu ul li:nth-of-type(3){ background: url(../img/service_3_1.jpg) no-repeat 30px center; background-size:21%;}
.fuwu ul li:nth-of-type(3):hover{ background: url(../img/service_3_2.jpg) no-repeat 30px center; background-size:21%;}
.fuwu ul li:nth-of-type(4){ background: url(../img/service_4_1.jpg) no-repeat 30px center; background-size:21%;}
.fuwu ul li:nth-of-type(4):hover{ background: url(../img/service_4_2.jpg) no-repeat 30px center; background-size:21%;}
.kecheng ul li .hox{display: none;}
.zuopin ul li .jieshao{display:none;}
.mingxing ul li p{display: none;}
}
@media only screen and (min-width:768px) and (max-width:992px) {
.container1{
	padding-left: 20px;
	padding-right: 20px;
}
.container1 h1{font-family: "微软雅黑"; font-weight:100; font-size: 25px; height: 90px; line-height: 90px; color: #333;}
.fuwu ul li{padding-top:50px; text-indent: 0; text-align: center;}
.fuwu ul li{ background: url(../img/service_1_1.jpg) no-repeat center top;background-size:20%;}
.fuwu ul li:hover{ background: url(../img/service_1_2.jpg) no-repeat center top;background-size:20%;}
.fuwu ul li:nth-of-type(2){ background: url(../img/service_2_1.jpg) no-repeat center top;background-size:20%;}
.fuwu ul li:nth-of-type(2):hover{ background: url(../img/service_2_2.jpg) no-repeat center top;background-size:20%;}
.fuwu ul li:nth-of-type(3){ background: url(../img/service_3_1.jpg) no-repeat center top;background-size:20%;}
.fuwu ul li:nth-of-type(3):hover{ background: url(../img/service_3_2.jpg) no-repeat center top;background-size:20%;}
.fuwu ul li:nth-of-type(4){ background: url(../img/service_4_1.jpg) no-repeat center top;background-size:20%;}
.fuwu ul li:nth-of-type(4):hover{ background: url(../img/service_4_2.jpg) no-repeat center top;background-size:20%;}
.fuwu ul li h2{text-align: center; margin-top:0px; margin-bottom: 0; height:18px; line-height:18px;}
.fuwu ul li p{display: none;}
.fuwu ul li:before{display: none;}
.school ul li{padding-right:20px; padding-left:20px;}
.school h2{height:28px; line-height:28px; font-size: 16px; margin-top: 14px;margin-bottom: 0;}
.kecheng ul li .hox{display: none;}
.zuopin ul li{width: 20%;}
.zuopin ul li .jieshao{display:none;}
.mingxing ul li{padding-left: 5px; padding-right: 5px; margin-bottom: 10px;}
.mingxing ul li p{display: none;}
.small ul li{width: 25%;}
}
@media screen and (min-width:720px ) and (max-width:768px) {
.container1{
	padding-left: 20px;
	padding-right: 20px;
}
.bg{position: relative;}
.bx-wrapper{padding-top:0px;}
.container1 h1{font-family: "微软雅黑"; font-weight:100; font-size:23px; height:80px; line-height:80px; color: #333;}
.container header{padding-bottom: 10px;}
.fuwu ul li{padding-top:40px; text-indent: 0; text-align: center; }
.fuwu ul li{ background: url(../img/service_1_1.jpg) no-repeat center top;background-size:18%;}
.fuwu ul li:hover{ background: url(../img/service_1_2.jpg) no-repeat center top;background-size:18%;}
.fuwu ul li:nth-of-type(2){ background: url(../img/service_2_1.jpg) no-repeat center top;background-size:18%;}
.fuwu ul li:nth-of-type(2):hover{ background: url(../img/service_2_2.jpg) no-repeat center top;background-size:18%;}
.fuwu ul li:nth-of-type(3){ background: url(../img/service_3_1.jpg) no-repeat center top;background-size:18%;}
.fuwu ul li:nth-of-type(3):hover{ background: url(../img/service_3_2.jpg) no-repeat center top;background-size:18%;}
.fuwu ul li:nth-of-type(4){ background: url(../img/service_4_1.jpg) no-repeat center top;background-size:18%;}
.fuwu ul li:nth-of-type(4):hover{ background: url(../img/service_4_2.jpg) no-repeat center top;background-size:18%;}
.fuwu ul li h2{text-align: center; margin-top:0px; margin-bottom: 0; height:16px; line-height:16px; font-size: 16px;}
.fuwu ul li p{display: none;}
.fuwu ul li:before{display: none;}
.school h1 span{font-size: 16px;}
.school ul li{padding-right:20px; padding-left:20px;width: 33.33333333%;}
.school h2{height:28px; line-height:28px; font-size: 16px; margin-top:14px;margin-bottom:0;}

.kecheng ul li{width: 33.33333333%;}
.kecheng ul li .hox{display: none;}
.zuopin ul li{width: 20%;}
.zuopin ul li .jieshao{display:none;}
.mingxing ul li{padding-left: 5px; padding-right: 5px; margin-bottom: 10px;}
.mingxing ul li p{display: none;}
.small ul li{width: 50%;}
}
@media screen and (min-width:480px) and (max-width:720px) {
.container1{
	padding-left: 20px;
	padding-right: 20px;
}
.bg{position: relative;}
.bx-wrapper{padding: 0;}
	.container header{padding-bottom: 10px;}
	.container header{padding-bottom: 10px;}
.container1 h1{font-family: "微软雅黑"; font-weight:100; font-size:23px; height:70px; line-height:70px; color: #333; margin: 0;}
.fuwu ul li{padding-top:45px; text-indent: 0; text-align: center;}
.fuwu ul li{ background: url(../img/service_1_1.jpg) no-repeat center top;background-size:40px;}
.fuwu ul li:hover{ background: url(../img/service_1_2.jpg) no-repeat center top;background-size:40px;}
.fuwu ul li:nth-of-type(2){ background: url(../img/service_2_1.jpg) no-repeat 55% top;background-size:40px;}
.fuwu ul li:nth-of-type(2):hover{ background: url(../img/service_2_2.jpg) no-repeat 55% top;background-size:40px;}
.fuwu ul li:nth-of-type(3){ background: url(../img/service_3_1.jpg) no-repeat center top;background-size:40px;}
.fuwu ul li:nth-of-type(3):hover{ background: url(../img/service_3_2.jpg) no-repeat center top;background-size:40px;}
.fuwu ul li:nth-of-type(4){ background: url(../img/service_4_1.jpg) no-repeat center top;background-size:40px;}
.fuwu ul li:nth-of-type(4):hover{ background: url(../img/service_4_2.jpg) no-repeat center top;background-size:40px;}
.fuwu ul li h2{text-align: center; margin-top:0px; margin-bottom: 0; height:16px; line-height:16px; font-size: 16px;}
.fuwu ul li h2 span{display: none;}
.fuwu ul li p{display: none;}
.fuwu ul li:before{display: none;}
.school h1 span{font-size: 14px;}
.school ul li{padding-right:15px; padding-left:15px;}
.school h2{height:28px; line-height:28px; font-size: 16px; margin-top: 14px;margin-bottom:20px;}
.school p{display: none;}
.kecheng ul li .hox{display: none;}
.zuopin ul li{padding-left: 5px; padding-right: 5px; margin-bottom: 10px;}
.zuopin ul li .jieshao{display:none;}
.mingxing ul li{padding-left: 5px; padding-right: 5px; margin-bottom: 10px;}
.mingxing ul li p{display: none;}
.small ul{padding-top: 20px; padding-bottom: 20px;}
	
}
@media screen and (max-width:480px ) {
	.container1{
	padding-left: 20px;
	padding-right: 20px;
}
.bg{position: relative;}
.bx-wrapper{padding: 0;}
	.container header{padding-bottom: 10px;}
	.container header{padding-bottom: 10px;}
.container1 h1{font-family: "微软雅黑"; font-weight:100; font-size:23px; height:70px; line-height:70px; color: #333; margin: 0;}
.fuwu ul li{padding-top:40px; text-indent: 0; text-align: center;}
.fuwu ul li{ background: url(../img/service_1_1.jpg) no-repeat center top;background-size:35px;}
.fuwu ul li:hover{ background: url(../img/service_1_2.jpg) no-repeat center top;background-size:35px;}
.fuwu ul li:nth-of-type(2){ background: url(../img/service_2_1.jpg) no-repeat 55% top;background-size:35px;}
.fuwu ul li:nth-of-type(2):hover{ background: url(../img/service_2_2.jpg) no-repeat 55% top;background-size:35px;}
.fuwu ul li:nth-of-type(3){ background: url(../img/service_3_1.jpg) no-repeat center top;background-size:35px;}
.fuwu ul li:nth-of-type(3):hover{ background: url(../img/service_3_2.jpg) no-repeat center top;background-size:35px;}
.fuwu ul li:nth-of-type(4){ background: url(../img/service_4_1.jpg) no-repeat center top;background-size:35px;}
.fuwu ul li:nth-of-type(4):hover{ background: url(../img/service_4_2.jpg) no-repeat center top;background-size:35px;}
.fuwu ul li h2{text-align: center; margin-top:0px; margin-bottom: 0; height:16px; line-height:16px; font-size: 16px;}
.fuwu ul li h2 span{display: none;}
.fuwu ul li p{display: none;}
.fuwu ul li:before{display: none;}
.school h1 span{font-size: 12px;}
.school ul li{padding-right:10px; padding-left:10px; margin-bottom: 20px;}
.school ul li:nth-of-type(5),.school ul li:nth-of-type(6){margin-bottom: 0;}
.school h2{height:25px; line-height:25px; font-size: 16px; margin-top: 14px;margin-bottom: 0;}
.school p{display: none;}
.kecheng ul li .hox{display: none;}
.zuopin ul li{padding-left: 4px; padding-right: 4px; margin-bottom: 8px;}
.zuopin ul li .jieshao{display:none;}
.mingxing ul li{padding-left:4px; padding-right:4px; margin-bottom: 8px;}
.mingxing ul li p{display: none;}
.jiuye ul li{padding-left:5px; padding-right:5px; margin-bottom:10px;}
.small ul{padding-top: 20px; padding-bottom: 20px;}
}


